<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <!-- jquery -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <!-- jquery-validator -->
    <script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>
    <!-- layer -->
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <!-- md5.js -->
    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
    <!-- common.js -->
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>

    <!-- 引入jq,bootstrap -->
    <!-- 图片上传即时预览插件 -->
    <link rel="stylesheet" href="../js/bjs/fileinput.min.css">
    <script type="text/javascript" src="../js/bjs/fileinput.min.js"></script>
    <!-- 这个是汉化-->
    <script type="text/javascript"src="../js/bjs/fileinput_locale_zh.js"></script>

</head>

<body>
<form name="loginForm" id="loginForm" method="post" style="width:50%; margin:0 auto">

    <h2 style="text-align:center; margin-bottom: 20px">用户登录</h2>

    <div class="form-group">
        <div class="row">
            <label class="form-label col-md-4">请输入手机号码</label>
            <div class="col-md-5">
                <input id="mobile" name="mobile" class="form-control" type="text" placeholder="手机号码" required="true"
                />
                <!--             取消位数限制          minlength="11" maxlength="11"-->
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <label class="form-label col-md-4">请输入密码</label>
            <div class="col-md-5">
                <input id="password" name="password" class="form-control" type="password" placeholder="密码"
                       required="true"
                />
                <!--             取消位数限制            minlength="6" maxlength="16"-->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <button class="btn btn-primary btn-block" type="reset" onclick="reset()">重置</button>
        </div>
        <div class="col-md-5">
            <button class="btn btn-primary btn-block" type="submit" onclick="login()">登录</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary btn-block" type="submit" onclick="login()">hhh</button>
        </div>
    </div>

    <br>
    <div>
        <video style="height:auto;" src="" id="video0" controls="controls"></video>
        <input id="video" name="video" class="form-control" type="file" style="height:auto;"  />

        <input id="input-repl-3a"  name="videoFileAddress" data-ref="url2" type="file" accept="mp4" />
        <input type="hidden" name="url2" value="">

    </div>
</form>
</body>
<script>
    function login() {
        $("#loginForm").validate({
            submitHandler: function (form) {
                doLogin();
            }
        });
    }

    function doLogin() {
        g_showLoading();

        var inputPass = $("#password").val();
        var salt = g_passsword_salt;
        var str = "" + salt.charAt(0) + salt.charAt(2) + inputPass + salt.charAt(5) + salt.charAt(4);
        var password = md5(str);

        $.ajax({
            url: "/login/doLogin",
            type: "POST",
            data: {
                mobile: $("#mobile").val(),
                password: password
            },
            success: function (data) {
                layer.closeAll();
                if (data.code == 200) {
                    layer.msg("成功");
                    console.log(data);
                    document.cookie = "userTicket=" + data.object;
                    window.location.href = "/goods/toList";
                } else {
                    layer.msg(data.message);
                }
            },
            error: function () {
                layer.closeAll();
            }
        });
    }

    // hTML5实现表单内的上传文件框，上传前预览视频，刷新预览video，使用HTML5 的File API,
    // 建立一个可存取到该file的url，一个空的video标签，ID为video0,把选择的文件显示在video标签中，实现视频预览功能。
    // 需要选择支持HTML API的浏览器。
    $("#video").change(function () {
        var objUrl = getObjectURL(this.files[0]);
        console.log("objUrl = " + objUrl);
        if (objUrl) {
            $("#video0").attr("src", objUrl);
        }
    });
    //建立一个可存取到该file的url
    function getObjectURL(file) {
        var url = null;
        if (window.createObjectURL != undefined) { // basic
            url = window.createObjectURL(file);
        } else if (window.URL != undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file);
        }
        return url;
    }

    $("#input-repl-3a").fileinput({
        dropZoneTitle : "请上传小于150M的视频！",
        uploadUrl : "/login/videoAddress/saveVideoAddress",
        language : "zh",
        autoReplace : true,
        showCaption : false,
        showUpload : true,
        overwriteInitial : true,
        showUploadedThumbs : true,
        //showPreview:false,                   //显示上传图片的大小信息
        maxFileCount : 1,
        minFileCount:1,
        maxFileSize : 15360000,//文件最大153600kb=15000M
        initialPreviewShowDelete : false,
        showRemove : false,//是否显示删除按钮
        showClose : false,
        layoutTemplates : {
            actionUpload:'',
        },
        allowedFileExtensions : [ "mp4","avi","dat","3gp","mov","rmvb"],
        previewSettings : {
            image : {
                width : "100%",
                height : "100%"
            },
        }
    });
    //异步上传返回结果处理
    $('#input-repl-3a').on('fileerror', function(event, data, msg) {
        console.log("fileerror");
        console.log(data);
    });
    //异步上传返回结果处理
    $("#input-repl-3a").on("fileuploaded", function(event, data, previewId, index) {
        //debugger
        videoUrl = "/file/video/videoAd/"+ data.response.url;

        var ref = $(this).attr("data-ref");
        $("input[name='" + ref + "']").val(data.response.url);
    });


</script>
</html>